<div class="item_display">
    <h1 class="item_display_heading">Items</h1>
    <a href="/add-post" class = "button"> +ADD NEW</a>
    <p > Categories</p>
    <ul class="article-ul">    
        <li>cars</li>
        <li>computers</li>
        <li>private lessons</li>
        <li>phones</li>
        
    </ul>
</div> 

<section class="articles">
    <h2 class="articles_heading">Latest Items</h2>


    <ul class="admin-post">
        
         <% items.forEach(item => { %>
            <li>
                <a href="/item/<%= item._id %>">
                <%= item.title %> &nearr;
                </a>
                <div class="admin-post-controls">
                    <a href="/edit-post/<%= item._id %>" class="btn">Edit</a>
                
                    <form action="/item/<%= item._id %>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete" class="btn-delete btn">
                      </form>
                
                
                </div>
            </li>  
         <% }) %>
    </ul>

    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Items</a>

    <% } %>
</section>
